.header {
    display: flex;
    background-color: #3c69ff;
    border-radius: 15px 15px 0px 0px;
    text-align: center; 
    color: #ffffff;
}

.header-text {
    flex: 1;
}

.body {
    border-radius: 0px 0px 15px 15px;
    border: 2px solid #3c69ff;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
